ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.section h2 {
	color: green;
}

.section {
  height: 600px;
  padding-top:40px;
  background-color: pink;
  text-align: center;
}

.logo > li img{
	
	width: 50%;
	
	vertical-align: middle;
}

html {
  scroll-behavior: smooth;
}